
<form #formularz="ngForm">
  <div class ="formularz">
    <h1>Zamówienie:</h1>
    <label>
      <span>Imię i nazwisko:</span>
      <input type ="text" class="wpis" id="imieinazwisko" [(ngModel)]="imieinazw" name="imieinazwisko" required #imieinazwForm="ngModel" >
      <div class="alert" *ngIf="imieinazwForm.invalid && imieinazwForm.touched" >Pole imie i nazwisko jest wymagane</div>
    </label>
    <label>
      <span>Email:</span>
      <input type ="text" class="wpis" id="email" [(ngModel)]="email" name="email" required pattern=".+@.+" #emailForm="ngModel">
      <div class="alert" *ngIf="emailForm.invalid&& emailForm.touched"></div>
      <div class="alert" *ngIf="emailForm.touched && emailForm.errors?.['pattern']"></div>
    </label>
    <label>
      <span>Produkt:</span>
      <select id ="produkt" class="produkt" [(ngModel)]="produkt" name="produkt">
        <option value ="pralka">
          pralka</option>
          <option value ="telewizor">
            telewizor</option>
            <option value ="lodowka">
              lodówka</option>
              <option value ="laptop">
                laptop</option>
                </select>
    </label>
    
    <label>
      <span>Ilość:</span>
      <input type ="number" class="wpis" id="ilosc" [(ngModel)]="number" name="ilosc">
    </label>
    <label>
      <span>Wiadomość:</span>
      <textarea class="wiadomosc" id="wiadomosc" [(ngModel)]="wiadomosc" name="wiadomosc">
        </textarea>
      <button type="submit" class="przycisk" [disabled]="!formularz.form.valid">
        Zamów

      </button>
      <button type="button" class="przycisk" style="background-color:red;" (click)="formularz.resetForm()">
        Reset
      </button>

    </label>
    </div>
</form>
